@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9; /* slate-100 */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #fda4af; /* rose-300 */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f43f5e; /* rose-500 */
}
